[submodule "src/thirdpartyplugins/betterPlusReacts"]
	path = src/thirdpartyplugins/betterPlusReacts
	url = https://github.com/Masterjoona/vc-betterplusreacts
[submodule "src/thirdpartyplugins/triggerWarning"]
	path = src/thirdpartyplugins/triggerWarning
	url = https://github.com/Masterjoona/vc-triggerwarning
[submodule "src/thirdpartyplugins/themeLibrary"]
	path = src/thirdpartyplugins/themeLibrary
	url = https://github.com/Faf4a/ThemeLibrary
[submodule "src/thirdpartyplugins/vcNarrator-custom"]
	path = src/thirdpartyplugins/vcNarrator-custom
	url = https://github.com/nyakowint/vcNarrator-custom
[submodule "src/thirdpartyplugins/replaceActivityTypes"]
	path = src/thirdpartyplugins/replaceActivityTypes
	url = https://github.com/nyakowint/replaceActivityTypes
[submodule "src/thirdpartyplugins/timelessClips"]
	path = src/thirdpartyplugins/timelessClips
	url = https://github.com/Masterjoona/vc-timelessclips
[submodule "src/thirdpartyplugins/goodPerson"]
	path = src/thirdpartyplugins/goodPerson
	url = https://github.com/nin0-dev/vc-goodperson
[submodule "src/thirdpartyplugins/betterActivities"]
	path = src/thirdpartyplugins/betterActivities
	url = https://github.com/D3SOX/vc-betterActivities
[submodule "src/thirdpartyplugins/mediaPlaybackSpeed"]
	path = src/thirdpartyplugins/mediaPlaybackSpeed
	url = https://github.com/D3SOX/vc-mediaPlaybackSpeed
[submodule "src/thirdpartyplugins/notifyUserChanges"]
	path = src/thirdpartyplugins/notifyUserChanges
	url = https://github.com/D3SOX/vc-notifyUserChanges
[submodule "src/thirdpartyplugins/blockKrisp"]
	path = src/thirdpartyplugins/blockKrisp
	url = https://github.com/D3SOX/vc-blockKrisp
[submodule "src/thirdpartyplugins/serverProfilesToolbox"]
	path = src/thirdpartyplugins/serverProfilesToolbox
	url = https://github.com/D3SOX/vc-serverProfilesToolbox
[submodule "src/thirdpartyplugins/silentTypingEnhanced"]
	path = src/thirdpartyplugins/silentTypingEnhanced
	url = https://github.com/D3SOX/vc-silentTypingEnhanced
[submodule "src/thirdpartyplugins/followUser"]
	path = src/thirdpartyplugins/followUser
	url = https://github.com/D3SOX/vc-followUser
[submodule "src/thirdpartyplugins/voiceChatUtilities"]
	path = src/thirdpartyplugins/voiceChatUtilities
	url = https://github.com/D3SOX/vc-voiceChatUtilities
